{{ partial "header.html" . }}
<h1><span class="title">{{ .Title | markdownify }}</span></h1>
{{ with .Params.author }}<h2 class="author">{{ . }}</h2>{{ end }}
{{ if (gt .Params.date 0) }}<div class="date">{{ .Date.Format "2006-01-02" }}</div>{{ end }}

<main>
{{ .Content }}
</main>

{{ if .Params.tags }}
<div class="tags">Tags:
{{ range $i, $e := .Params.tags -}}
{{ if (ne $i 0) }}, {{ end -}}
<a href="{{ "/tags/" | relLangURL }}{{ $e | urlize }}">{{ $e }}</a>
{{- end }}
</div>
{{ end }}

{{ partial "footer.html" . }}
